<div class="container">

  <div class="leftBox">
    <div class="content">
      <div id="chartContainer"  style="width:400px; height: 200px;"> </div>   
      <div id="chartContainer2" style="width:400px; height: 200px; margin-top: -200px; margin-left:500px; margin-right:10px;">
      </div>  
    </div> 
  </div>

  <div class="rightBox">
    <div>
      <img src="assets/images/hog.png" style="padding-left:000px;width:100px;height:100px;">
      </div>
    <form id="login-form">
      <span class="header"><b>Ministry of Magic</b><br>Invigilator Portal</span>
      <p>This is the invigilators of the Ministry of Magics access platform to 
        analyse and review past and preset examinations.</p>
      
    </form>
  </div>

  <div class="leftBox1">
    <div class="content">
      <div id="chartContainer3" style="width:400px; height: 200px; margin-top: 10px; margin-left:10px; ">
      </div>
       <div id="chartContainer1" style="width:400px; height: 200px; margin-top: -200px; margin-left:500px; margin-right:10px;">
       </div>
    </div> 
  </div>
<div class="rightBox">
    <form id="login-form">    
       <input type="button" (click)="loginUser()" class="wyslij" value="Get started"/>
    </form>
  </div>

  

</div>

